*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
    font-family: "苹方 常规";
}
body{
    font-family: "苹方 常规";
    font-size: 12px;
    cursor: default;
    flex-direction: column;
}
.header_1{
    height: 30px;
    background: #2f2f2f;
}
.header_1 .bg{
    width: 1200px;
    height: 30px;
    margin: 0 auto;
}
.header_left{
    height: 20px;
    padding-top: 5px;
    float: left;
    width: 200px;
}
.header_left img{
    position: relative;
    float: right;
}
.header_left img:hover{
    cursor: pointer;
}
.header_left input{
    float: left;
    height: 20px;
    position: absolute;
}
.header_right{
    line-height: 30px;
    text-align: center;
    float: right;
    display: flex;
}
.header_right p{
    margin-right: 10px;
    color:  #8b8b8b;
}
.header_right p:hover{
    color: #fff;
    cursor: pointer;
}
.header_2{
    height: 150px;
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: auto auto;
}
.header_2 .top{
    display: flex;
    height: 80px;
    width:100%;
    margin:5px auto;
}
.header_2 .top_left{
    display: flex;
    height: 100%;
}
.header_2 .top_left p{
    font-size: 24px;
    font-weight: bold;
    color: #6a6a6a;
    width: 180px;
    line-height: 80px;
    text-align: center;
}
.header_2 .top_right{
    margin-left:800px;
    margin-top: 25px;
}
.top_right img{
    margin-right: 5px;
}
.top_right img:hover{
    cursor: pointer;
}
.header_2 .bottom{
    width:80%;
    height: 50px;
    margin:5px auto;

}
.bottom ul{
    display: flex;
    height: 100%;
    width: 100%;
}
.bottom ul li{
    height: 70%;
    width: 100%;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
}
.bottom ul li:hover {
    transition: 0.5s ease-out;

}
.bottom ul li:hover a{
    color: #FDCC80;
}
.bottom ul li .list{
    flex-direction: column;
    height: 120px;
}
.bottom ul li .list li{
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fde1b6;
    display: none;
    z-index: 2;
}
.bottom ul li:hover .list li{
    display: block;
}
.bottom ul li:hover .list li a{
    color: #2f2f2f;
}
.bottom ul li:hover .list li:hover{
    background:#B2BD6D;
    transition:0.5s ease-out;
}
.bottom ul li:hover .list li:hover a{
    color: #fff;
}
.bottom ul li .list_2{
    flex-direction: column;
    height: 120px;
}
.bottom ul li .list_2 li{
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fde1b6;
    display: none;
    z-index: 2;
}
.bottom ul li:hover .list_2 li{
    display: block;
}
.bottom ul li:hover .list_2 li a{
    color: #2f2f2f;
}
.bottom ul li:hover .list_2 li:hover{
    background:#B2BD6D;
    transition: 1s ease-out;
}
.bottom ul li:hover .list_2 li:hover a{
    color: #fff;
}
.bottom ul li span{
    margin-right: 5px;
}
/*section*/
section{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    border-top: 1px solid  #FDCC80;
}
article{
    width: 70%;

}
.title{
    margin-top: 80px;
    font-size: 26px;
    text-align: center;
}
.title p{
    font-size: 14px;
    color: #878787;
    height: 50px;
    line-height: 50px;
}
.contain{
    flex-direction: column;
}
.contain .ctn_1 .img_1{
    width: 90%;
    height: 330px;
    overflow: hidden;
    margin: 20px auto 20px auto;
}
.contain .img_1 img{
    width: 100%;
}
.contain  p{
    font-size: 14px;
    width: 90%;
    margin: 0 auto;
    text-indent: 2em;
}
.contain .ctn_2 .img_2{
    display: flex;
    width: 90%;
    height: 220px;
    overflow: hidden;
    margin: 20px auto 20px auto;
}
.contain .img_2 img{
    width: 49%;
}
.contain .img_2 img:nth-child(1){
    margin-right: 20px;
}
.contain .ctn_3 .img_3{
    width: 90%;
    height: 350px;
    overflow: hidden;
    margin: 20px auto 20px auto;
}
.contain .img_3 img{
    width: 100%;
}
.contain .ctn_4 .img_4{
    display: flex;
    width: 90%;
    height: 350px;
    overflow: hidden;
    margin: 20px auto 20px auto;
}
.contain .img_4 img{
    width: 49%;
}
.contain .img_4 img:nth-child(1){
    margin-right: 20px;
}
.contain .ctn_5 .img_5{
    display: flex;
    width: 90%;
    height: 350px;
    overflow: hidden;
    margin: 20px auto 20px auto;
}
.contain .ctn_5 .img_5 .right{
    flex-direction: column;
}
.contain .img_5 img{
    width: 49%;
}
.contain .ctn_5 .img_5 .right img{
    width: 100%;
    height: 180px;
    margin-left: 20px;

    overflow: hidden;
}
.contain .ctn_5 .img_5 .right img:nth-child(2){
    margin-top: 10px;
}
.contain .ctn_6{
    width: 90%;
    text-align: center;
margin-bottom: 20px;
}
.contain .ctn_6 p{
    font-size: 12px;
}
aside{
    width: 35%;
    border-left: 1px solid #FDCC80;
    margin: 70px 0 100px 0;
}
aside .list ul{
    width: 80%;
    margin: 0 auto;
}
aside .list ul li{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
aside .list ul li a{
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    line-height: 30px;
    font-size: 12px;
}
aside .list ul li a:hover{
    color: #6a6a6a;
}
aside .list ul li:nth-child(1){
    width: 100%;
    height: 35px;
    line-height: 35px;
}
aside .list ul li:nth-child(1) a:hover{
    cursor: default;
    color: black;
}
aside .list ul li:nth-child(1) a span:hover{
    color: black;
    cursor: pointer;
}
aside .list ul li:nth-child(1) a{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}
aside .list ul li:nth-child(1) a span{
    float: right;
    color: #878787;
}

aside .list ul li span{
    float: right;
    font-size: 12px;
    display:block;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
aside .adv{
    width:80%;
    height: 260px;
    overflow: hidden;
    margin: 20px auto 0 auto;
}
aside  .img1 img{
    height: 100%;
    margin-left: -80px;
}
aside .img2 img{
    height: 100%;
}
aside .img3 img{
    height: 100%;
}
/*footer*/
footer{
    display: flex;
    min-width: 1200px;
    height: 260px;
    background: #2f2f2f;
}
.footer{
    display: flex;
    width: 1200px;
    margin: auto auto;
}
.f_title{
    width: 150px;
    font-size: 16px;
    color: #fff;
}
.f_title ul li{
    line-height: 30px;
}
.f_title ul li a{
    color: #919191;
    font-size: 12px;
}
.f_title  ul li:hover a{
    color: #fff;
}
.conn{
    width: 300px;
    font-size: 16px;
    color: #fff;
}
.conn ul li{
    line-height: 30px;
    color: #919191;
    font-size: 12px;
}
.conn ul li:nth-child(1){
    font-size: 16px;
    color: #fff;
}
footer img{
    position: relative;
    margin:auto 0 auto 350px;
}
.bottom ul li:hover .line{
    width:100px;
}
.bottom ul li .line{
    width:0px;
    height:5px;
    border-radius:5px;
    background-color:#FDCC80;
    margin:0 auto;
    position:absolute;
    right:0px;
    transition:width 0.5s linear;
}
.bottom ul li .l1{
    left:-820px;
}
.bottom ul li .l2{
    left:-270px ;
}
.bottom ul li .l3{
    left: 5px;
}
.bottom ul li .l4{
    left: 555px;
}
.bottom ul li .l5{
    left: 830px;
}
.bottom ul li:hover .l5{
    width: 140px;
}
.bottom ul li:before{
    content:"";
    display:table;
}