.section1{
    height: 700px;
}
.section1 .bg-1{
    height: 100%;
}
.section1 .bg-black{
    height: 500px;
    width: 1920px;
    margin: 0 auto;
    background: black;
    opacity: 0.5;
    z-index: 1;
    position: absolute;
}
.section1 .bg-img{
    background: black;
    min-width: 1200px;
    height: 500px;
    overflow: hidden;

}
.section1 .bg-img img{
    width: 100%;
    background: black;
     opacity: 0.6;
}
.section1 .bg-word{
    position:absolute;
    z-index:1 ;
   text-align: center;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
}
.section1 .bg-word h1{
    width:700px;
    margin: 100px auto 0 auto;
    font-size: 36px;
    color: #fff;
    font-family: "苹方 粗体";
}
.section1 .bg-word p{
    width:600px;
    margin: 50px auto;
    font-size: 16px;
    color: #c9c9c9;
    font-family: "苹方";
}
.section1 .button{
    position: absolute;
    z-index:1 ;
    text-align: center;
    height: 100px;
    left: 50%;
    transform: translateX(-50%);
    top: 480px;
}
.section1 .button input{
    width: 150px;
    height: 50px;
    background: none;
    border: 3px solid #fff;
    color: #fff;
    font-family: "苹方 常规";
    font-size:18px ;
}
.section1 .button input:hover{
    background: rgba(106, 106, 106, 0.54);
    color:#FDCC80;
}
.section1 .lump{
        width: 900px;
        height: 280px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    top: 580px
}
.section1 .lump .lump-1{
    width: 350px;
    height: 230px;
    border-radius: 5px;
    background: #fff;
    box-shadow:0px 0px 20px 2px #2d2d2d;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    z-index: 2;
    position: relative;
}
.section1 .lump .lump-1 h1{
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
}
.section1 .lump .lump-1 p{
    font-size: 14px;
    margin: 15px auto 0 auto;
    width: 300px;
    text-align: center;

}
.section1 .lump .lump-2{
    width: 280px;
    height: 180px;
    border-radius: 5px;
    background: #fff;
    box-shadow:0px 0px 20px 2px #2d2d2d;
    margin-top: -205px;
    margin-left: 60px;
    z-index: 1;
    position:absolute;
    transition: all 0.5s ease-out;
}
.section1 .lump .lump-2 h1{
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}
.section1 .lump .lump-2 p{
    font-size: 8px;
    margin-top: 15px;
    text-align: center;

}
.section1 .lump .lump-2:hover{
    transform: scale(1.3);
    transition: all 0.5s ease-in;
    z-index: 3;
}
.section1 .lump .lump-3{
    width: 280px;
    height: 180px;
    border-radius: 5px;
    background: #fff;
    box-shadow:0px 0px 20px 2px #2d2d2d;
    margin-top: -205px;
    margin-left: 550px;
    z-index: 1;
    position:absolute;
    transition: all 0.5s ease-out;
}
.section1 .lump .lump-3 h1{
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}
.section1 .lump .lump-3 p{
    font-size: 8px;
    margin-top: 15px;
    text-align: center;

}
.section1 .lump .lump-3:hover{
    transform: scale(1.3);
    transition: all 0.5s ease-in;
    z-index: 3;
}
.section1 .lump .lump-2:hover div{
    color:#FDCC80;
}
.section1 .lump .lump-3:hover div{
    color:#FDCC80;
}
.section2{
    height: 450px;
}
.title{
    height: 70px;
    font-family: "方正卡通简体";
}
 .title .bg-title{
    width: 240px;
    margin: 0 auto;
}
.title .bg-title img{
    width: 100%;
}
.title .title-word{
   text-align: center;
    font-size: 24px;
    margin-top: -45px;
    margin-left: -3px;
}
.section2 .bg-gray{
    height: 200px;
    /*position:relative;*/
    margin-top: 80px;
    background: #dddddd;
}
.section2 .movie{
    margin: 0 auto;
    width: 600px;
    height: 500px;

}
.section2 .movie video{
    width:600px;
    margin-top: -50px;
    position: absolute;
    border: 5px solid #fff;
    background: #e3d9ca;
}
/*section3*/
.section3{
    height: 600px;
    min-width: 1200px;
}
.section3 .bg-img2{
    height: 450px;
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
    background: black;
    position:absolute ;
}
.section3 .bg-img2 img{
    width: 100%;
    opacity: 0.6;
}
.section3 .design{
    width: 900px;
    height: 400px;
    position:  relative ;
    margin: 55px auto 0 auto;
    display: flex;
}
.section3 .design .d1{
    width: 290px;
    margin-right: 20px;
}
.section3 .design .d1 .d1-top{
    height: 80px;
    background-color: #ffe3ad;
    border-bottom: 5px solid #fff;
}
.section3 .design .d1 .d1-top h1{
    text-align: center;
    font-size: 48px;
    padding-top: 15px;
    font-family: "方正行黑简体";
}
.section3 .design .d1 .d2-bottom h1{
    text-align: center;
    font-size: 48px;
    padding-top: 15px;
    font-family: "方正行黑简体";
}
.section3 .design .d1 .d2-bottom{
    height: 80px;
    background-color: #ffe3ad;
    border-top: 5px solid #fff;
}
.section3 .design .d1 .d1-bottom{
    height: 300px;
    background-color: #f5fff8;
    overflow: hidden;
    z-index: 1;
}
.section3 .design .d1 .d1-bottom .d1-word{
    position:absolute;
    width: 260px;
    text-align: center;
   left: 10px;
    top: 180px;
    display: none;
}
.section3 .design .d1 .d1-bottom .d1-word h1{
    color: #ffe3ad;
    height: 50px;
}
.section3 .design .d1 .d1-bottom .d1-word p{
    color: #fff5d7;
    text-align: left;
    text-indent: 2em;
    margin-left: 5px;
}
/*d2-word*/
.section3 .design .d1 .d2-top .d2-word{
    position:absolute;
    width: 260px;
    text-align: center;
    top: 100px;
    display: none;
}
.section3 .design .d1 .d2-top .d2-word h1{
    color: #ffe3ad;
    height: 50px;
}
.section3 .design .d1 .d2-top .d2-word p{
    color: #fff5d7;
    text-align: left;
    text-indent: 2em;
    margin-left: 5px;
}
.section3 .design .d1 .d1-bottom:hover{
    background-color: black;
}
.section3 .design .d1 .d2-top:hover{
    background-color: black;
}
.section3 .design .d1 .d1-bottom:hover .d1-word{
    z-index: 2;
    display: block;
}
.section3 .design .d1 .d2-top:hover .d2-word{
    z-index: 2;
    display: block;
}
.section3 .design .d1 .d1-bottom .d1-word-3{
    position:absolute;
    width: 260px;
    text-align: center;
    top: 180px;
    display: none;
}
.section3 .design .d1 .d1-bottom:hover .d1-word-3{
    z-index: 2;
    display: block;
}
.section3 .design .d1 .d1-bottom .d1-word-3 h1{
    color: #ffe3ad;
    height: 50px;
}
.section3 .design .d1 .d1-bottom .d1-word-3 p{
    color: #fff5d7;
    text-align: left;
    text-indent: 2em;
    margin-left: 5px;
}
.section3 .design .d1 .d1-bottom:hover .d1-word-3{
    z-index: 2;
    display: block;
}
.section3 .design .d1 .d1-bottom:hover img{
    opacity: 0.5;
}
.section3 .design .d1 .d1-bottom:hover img{
    opacity: 0.5;
}
.section3 .design .d1 .d2-top:hover img{
    opacity: 0.5;
}
.section3 .design .d1 .d1-bottom img{
    width:100%;
}
.section3 .design .d1 .d2-top{
     height: 300px;
     background-color: #f5fff8;
    overflow: hidden;
 }
.section3 .design .d1 .d2-top img{
    width:100%;
}
/*section4*/
.section4 {
    height: 610px;
    min-width: 1200px;
}
.section4 .serve{
    width: 1200px;
    height: 450px;
    margin:  30px auto 0 auto;
    display: flex;
}
.serve .serve-left{
    width: 280px;
    overflow: hidden;
    height: 100%;
}
.serve .serve-left img{
    height: 100%;
   margin-left: -200px;
}
.serve-right{
    flex-direction: column;
    width: 900px;
    height: 100%;
    margin-left: 17px;
}
.serve-right .serve-r-top{
    height:217px;
}
.serve-right .serve-r-bottom{
    height:217px;
    margin-top: 16px;
}
.serve-right .serve-r-top .s-r-t-left{
    width: 500px;
    height: 100%;
    overflow: hidden;
    display: inline-block;
}
.serve-right .serve-r-top .s-r-t-left img{
    width: 100%;
    margin-top: -30px;
}
.serve-right .serve-r-bottom .s-r-t-left{
    width: 370px;
    height: 100%;
    overflow: hidden;
    display: inline-block;
}
.serve-right .serve-r-bottom .s-r-t-left img{
   width: 100%;
}
.serve-right .serve-r-top .s-r-t-right{
    width: 370px;
    height: 100%;
    overflow: hidden;
    display: inline-block;
    margin-left: 13px;
    background-color: black;
}
.serve-right .serve-r-top .s-r-t-right img{
    width: 100%;
    margin-top: -20px;
    opacity: 0.9;
}
.serve-right .serve-r-bottom .s-r-t-right{
    width: 500px;
    height: 100%;
    overflow: hidden;
    display: inline-block;
    margin-left: 13px;
}
.serve-right .serve-r-bottom .s-r-t-right img{
    width: 100%;
}